<script>
    import ZoomCard from "./zoomCard.svelte"

    export let data = {}
    let category = data.url.split("/").reverse()[2]
    
    let isZoomCard = false;
    function toggleZoom() {
        isZoomCard = !isZoomCard
    }
</script>

{#if isZoomCard}
<ZoomCard on:toggle={toggleZoom} data={data} />
{/if}

<div class="card" on:click={toggleZoom}>

    {#if category === 'people'}
        <h3>{data.name}</h3>
        <div class="stats">
            <ul>
                <li>
                    <p class="label">Vehicles</p>
                    {#if data.vehicles.length > 0}
                        {#each Array(data.vehicles.length) as _, i}
                            <img class="steering-wheel" src="../../static/steering-wheel.png" alt="vehicle">
                        {/each}
                    {:else}
                        <p class="noData">No vehicle</p>
                    {/if}
                </li>
                <li>
                    <p class="label">Starships</p>
                    {#if data.starships.length > 0}
                        {#each Array(data.starships.length) as _, i}
                            <img class="starship" src="../../static/starship.png" alt="starship">
                        {/each}
                    {:else}
                        <p class="noData">No starship</p>
                    {/if }
                </li>
                <li>
                    <p class="label">Height</p>
                    {#if data.height !== "unknown"}
                        <p class="data">{data.height} cm</p>
                    {:else}
                        <p class="noData">Unknown height</p>
                    {/if}
                    
                </li>
                <li>
                    <p class="label">Mass</p>
                    {#if data.mass !== "unknown"}
                        <p class="data">{data.mass} kg</p>
                    {:else}
                        <p class="noData">Unknown mass</p>
                    {/if}
                    
                </li>
            </ul>
        </div>

    {:else if category === 'planets'}

        <h3>{data.name}</h3>
        <div class="stats">
            <ul>
                <li>
                    <p class="label">Climate</p>
                    {#if data.climate !== "unknown"}
                        <p class="data">{data.climate}</p>
                    {:else}
                        <p class="noData">Unknown climate</p>
                    {/if}
                </li>
                <li>
                    <p class="label">Terrain</p>
                    {#if data.terrain !== "unknown"}
                        <p class="data">{data.terrain}</p>
                    {:else}
                        <p class="noData">Unknown terrain</p>
                    {/if}
                </li>
                <li>
                    <p class="label">Population</p>
                    {#if data.population !== "unknown"}
                        <p class="data">{data.population}</p>
                    {:else}
                        <p class="noData">Unknown population</p>
                    {/if}
                </li>
            </ul>
        </div>

    {:else if category === 'films'}

        <h3>{data.title}</h3>
        <div class="stats">
            <ul>
                <li>
                    <p class="label">Director</p>
                    {#if data.director !== "unknown"}
                        <p class="data">{data.director}</p>
                    {:else}
                        <p class="noData">Unknown director</p>
                    {/if}
                </li>
                <li>
                    <p class="label">Episode</p>
                    {#if data.episode_id !== "unknown"}
                        <p class="data">{data.episode_id}</p>
                    {:else}
                        <p class="noData">Unknown episode number</p>
                    {/if}
                </li>
                <li>
                    <p class="label">Release date</p>
                    {#if data.release_date !== "unknown"}
                        <p class="data">{data.release_date}</p>
                    {:else}
                        <p class="noData">Unknown release date</p>
                    {/if}
                </li>
            </ul>
        </div>

    {:else if category === 'species'}

        <h3>{data.name}</h3>
        <div class="stats">
            <ul>
                <li>
                    <p class="label">Designation</p>
                    {#if data.designation !== "unknown"}
                        <p class="data">{data.designation}</p>
                    {:else}
                        <p class="noData">Unknown designation</p>
                    {/if}
                </li>
                <li>
                    <p class="label">Average lifespan</p>
                    {#if data.average_lifespan !== "unknown"}
                        <p class="data">{data.average_lifespan}</p>
                    {:else}
                        <p class="noData">Unknown average lifespan</p>
                    {/if}
                </li>
                <li>
                    <p class="label">Language</p>
                    {#if data.language !== "unknown"}
                        <p class="data">{data.language}</p>
                    {:else}
                        <p class="noData">Unknown language</p>
                    {/if}
                </li>
            </ul>
        </div>

    {:else if category === 'vehicles'}

        <h3>{data.name}</h3>
        <div class="stats">
            <ul>
                <li>
                    <p class="label">Model</p>
                    {#if data.model !== "unknown"}
                        <p class="data">{data.model}</p>
                    {:else}
                        <p class="noData">Unknown model</p>
                    {/if}
                </li>
                <li>
                    <p class="label">Cost in credits</p>
                    {#if data.cost_in_credits !== "unknown"}
                        <p class="data">{data.cost_in_credits}</p>
                    {:else}
                        <p class="noData">Unknown cost</p>
                    {/if}
                </li>
                <li>
                    <p class="label">Vehicle class</p>
                    {#if data.vehicle_class !== "unknown"}
                        <p class="data">{data.vehicle_class}</p>
                    {:else}
                        <p class="noData">Unknown vehicle class</p>
                    {/if}
                </li>
            </ul>
        </div>

    {:else if category === 'starships'}

        <h3>{data.name}</h3>
        <div class="stats">
            <ul>
                <li>
                    <p class="label">Model</p>
                    {#if data.model !== "unknown"}
                        <p class="data">{data.model}</p>
                    {:else}
                        <p class="noData">Unknown model</p>
                    {/if}
                </li>
                <li>
                    <p class="label">Cost in credits</p>
                    {#if data.cost_in_credits !== "unknown"}
                        <p class="data">{data.cost_in_credits}</p>
                    {:else}
                        <p class="noData">Unknown cost</p>
                    {/if}
                </li>
                <li>
                    <p class="label">Starship class</p>
                    {#if data.starship_class !== "unknown"}
                        <p class="data">{data.starship_class}</p>
                    {:else}
                        <p class="noData">Unknown starship class</p>
                    {/if}
                </li>
            </ul>
        </div>
    {/if}
</div>


<style>
    .card {
        background-color: lightgray;
        border-radius: 5px;
        height: 300px;
        width: 250px;
        margin: 20px;

        display: flex;
        align-items: center;
        flex-direction: column;
        cursor: pointer;
        box-sizing: border-box;

        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }
    .card:hover {
        border: 2px solid #346F94;
    }
    .card:active {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    }

    ul {
        list-style: none;
        padding-left: 0;
        margin: 0;
    }

    p.label {
        font-weight: bold;
        margin: 0;
    }

    .steering-wheel {
        width: 20px;
        height: 20px;
        margin-inline: 3px;
        margin-top: 3%;
    }
    li .steering-wheel:first-of-type {
        margin-left: 15%;
    }

    .starship {
        width: 20px;
        height: 20px;
        margin-inline: 3px;
        margin-top: 3%;
    }
    li .starship:first-of-type {
        margin-left: 15%;
    }

    p.noData {
        font-size: smaller;
        color: rgb(131, 131, 131);
        margin: 0;
        margin-left: 15%;
    }

    .stats ul li ~ li {
        margin-top: 3%;
    }

    .stats {
        width: 85%;
        height: 70%;
        padding-left: 10%;
        margin-right: 3%;
    }

    p.data {
        margin: 0;
        margin-left: 15%;
    }
</style>