<script>
    import axios from "axios"
    import { onMount } from "svelte"
    import Card from "./card.svelte"
    import fetcher from "../fetcher.js"

    export let category = ""
    export let nbrPage

    let Data = {results: []}
    let url = 'https://swapi.dev/api/' + category + '/?page=' + nbrPage
    console.log(url)

    let totalNbrPages
    (async () => {
        let promise = await fetcher(category)
        totalNbrPages = Math.ceil(promise.count / 10)
    })()
    
    function setNbrPage(i) {
        nbrPage = i
        url = 'https://swapi.dev/api/' + category + '/?page=' + nbrPage
        console.log(i)
        getData()
    }

    let getData = async () => {
        try {
            let response = await axios.get(url)
            Data = response.data
        } catch (e) {
            console.error(e)
        }
    };
    onMount(getData())

    function nextPage() {
        if (Data.next !== null) {
            nbrPage++;
            url = Data.next
            getData()
        }
    }
    function previousPage() {
        if (Data.previous !== null) {
            nbrPage--;
            url = Data.previous
            getData()
        }
    }
</script>



<div class="center">
    <h2>{category}</h2>

    <div class="cards" id="cards">
        {#each Data.results as val, i}
        <Card data="{val}"/>
        {/each}
    </div>

    <br>
    <button class="arrow-left" on:click={previousPage}><img src="../../static/arrow-left.png" alt="arrow-left"></button>
    {#if totalNbrPages}
        <div class="nbrOfPage">
            {#each Array(totalNbrPages) as _, i}
                <button class="buttonNbr" on:click={() => setNbrPage(i + 1)}><p class="{i + 1}">{i + 1}</p></button>
            {/each}
        </div>
    {/if}
    <button class="arrow-right" on:click={nextPage}><img  src="../../static/arrow-right.png" alt="arrow-right"></button>
</div>



<style lang="less">
    .center {
        width: 100%;
        height: 100%;
    }

    .cards {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-flow: row wrap;
    }

    h2 {
        text-transform: capitalize;
    }

    .arrow-left, .arrow-right {
        cursor: pointer;
        border-radius: 50%;
        border-style: none;
        background-color: transparent;
        position: absolute;
        bottom: 1.8%;
    }

    .arrow-left img, .arrow-right img {
        height: 40px;
        width: 40px;
    }

    .arrow-left {
        left: 30px;
    }
    .arrow-right {
        right: 30px;
    }

    .nbrOfPage {
        font-size: 20px;
        position: absolute;
        width: 80%;
        margin-left: 10%;
        text-align: center;
        z-index: -10;
        bottom: 1%;

        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .nbrOfPage p {
        cursor: pointer;
    }




    .buttonNbr {
        appearance: button;
        background-color: rgb(31, 31, 31);
        background-image: none;
        border: 1px solid rgb(31, 31, 31);
        border-radius: 4px;
        box-shadow: #fff 4px 4px 0 0,rgb(31, 31, 31) 4px 4px 0 1px;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        margin: 0 5px 10px 0;
        overflow: visible;
        padding: 0px 20px;
        text-align: center;
        text-transform: none;
        touch-action: manipulation;
        user-select: none;
        -webkit-user-select: none;
        vertical-align: middle;
        white-space: nowrap;
    }
    .buttonNbr:focus {
        text-decoration: none;
    }
    .buttonNbr:hover {
        text-decoration: none;
    }
    .buttonNbr:active {
        box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
        outline: 0;
    }
    .buttonNbr:not([disabled]):active {
        box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
        transform: translate(2px, 2px);
    }
    @media (min-width: 768px) {
        // .buttonNbr {
        //     padding: 12px 50px;
        // }
    }
</style>
