<svelte:head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap" rel="stylesheet">
    
</svelte:head>

<script>
    import Leftpanel from './left-panel-filters.svelte';
    import Game from './game.svelte';

    let contentDisplayed = 'center';

    function toggleDisp() {
        contentDisplayed = (contentDisplayed === 'center') ? 'game' : 'center';
    }

    let filterLeftPanel = ''; // will hold the data and return it to leftpanel to affect any changes 

    function handleMessage(event) {
        filterLeftPanel = (filterLeftPanel === '') ? 'opened' : ''; // switch between open and close
    }

    /* search item into data from searchbar */
    function searchbar() {
        returnSearchBar = document.getElementById("inputSearchbar").value ;
    }

    import Center from "./center.svelte"
</script><!-- if we press on the btn leftPanel, we will switch between open and switch with handleMessage -->

<header>
    <div class="menu">
        <div class="header-options">
            <div id="btnClicPanel" on:click={filterLeftPanel}>
                <div class="bx bx-menu" id="btn"></div>
                <div class="title-filters">Filters</div>
            </div>
            <div id="redi">
                <div id="rediGame" on:click={toggleDisp}>Game/Data</div>
            </div>
            <input type="text" placeholder=" Search ..." id="inputSearchbar">
            <button onclick="searchbar()" id="btnOK">OK</button>
        </div>
        <div class="ekip" id="ekipLogo">StormCloners</div>
    </div>
</header>

<Leftpanel class={filterLeftPanel} on:message={handleMessage}/> 
<!-- <BaliseCenter /> -->

{#if contentDisplayed === 'center'}
<Center category="starships" nbrPage=1 ></Center>
{:else}
<Game />
{/if}

<style lang="less">
    :global(body) {
        margin: 0;
        background: url('../../static/texture.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        box-sizing: border-box;
        font-family: 'Titillium Web', sans-serif;
    }

    Leftpanel {
        box-sizing: 0;
        display: none;
        &.opened {
            box-sizing: 200px;
        }
    }


    header {
        .menu {
            font-size: larger;
            text-align: left;
            background-color:#326B8D;
            position: absolute;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            width: 100%;
            z-index: 100;

            > .header-options {
                font-size: 20px;
                font-weight: bold;
                display: flex;
                align-items: center;
                cursor: pointer;
            
                > #btnClicPanel { 
                    margin-right: 16px;
                    margin-left: 32px;
                    padding: 4px;
                    border-radius: 5px;
                    border: none;
                    font-size: 20px;
                    display: flex;
                    flex-wrap: nowrap;
                    justify-content: center;
                    align-items: center;

                    &:hover {
                        background-color:#ADD8E6;
                    }
                    &:active {
                        background-color: #2196F3;
                        color: white;
                    }
                }

                > input {
                    padding: 6px;
                    border-radius: 5px;
                    border: none;
                    display: flex;
                    align-items: center;
                    font-size: 20px;
                }

                > #btnOK {
                    margin-inline: 10px;
                    border-radius: 5px;
                    display: flex;
                    align-items: center;
                    font-size: 20px;
                }


                > .redi {
                    display: flex;
                    flex-wrap: wrap;
                    margin-left: 20px;

                    > #rediHome{
                        margin-right: 16px;
                        margin-left: 32px;
                        justify-content: space-between;
                        padding: 4px;
                        border-radius: 5px;
                        border: none;
                        font-size: 20px;
                        justify-content: center;
                        align-items: center;

                        &:hover {
                            background-color:#ADD8E6;
                        }
                        &:active {
                            background-color: #2196F3;
                            color: white;
                        }
                    }
                }

                > .redi {
                    display: flex;
                    flex-wrap: wrap;
                    margin-left: 20px;
                    > #rediGame {
                        margin-right: 16px;
                        margin-left: 32px;
                        justify-content: space-between;
                        padding: 4px;
                        border-radius: 5px;
                        border: none;
                        font-size: 20px;
                        justify-content: center;
                        align-items: center;

                        &:hover {
                            background-color:#ADD8E6;
                        }
                        &:active {
                            background-color: #2196F3;
                            color: white;
                        }
                    }
                }
            }

            .ekip {
                font-size: 20px;
                font-weight: bold;
                color:black;
                display: block;
                padding-inline: 30px;
            }
        }   

    }

    @media screen and (min-width:600px) and (max-width:fullscreen) {
        .input {
            float: none;
            display: block;
            text-align: left;
            width: 100px;
            margin: 0;
            padding: 14px;
            border: 1px solid #ccc;
        }

        .leftpanel {
            box-sizing: border-box;
            width: 300px;
        }
    }

    @media screen and (min-width:400px) and (max-width:600px) {
        .input {
            float: none;
            display: block;
            text-align: left;
            width: 50%;
            margin: 0;
            padding: 14px;
            border: 1px solid #ccc;
        }

        .leftpanel {
            box-sizing: border-box;
            width: 200px;
        }

    }

    @media screen and (max-width:400px) {
        .input {
            float: none;
            display: block;
            text-align: left;
            width: 10%;
            margin: 0;
            padding: 14px;
            border: 1px solid #ccc;
        }

        .leftpanel {
            box-sizing: border-box;
            width: 400px;
        }
    }

</style>
