<svelte:head>
    <meta charset="UTF-8">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</svelte:head>

<script>
  import { createEventDispatcher } from 'svelte';

  const dispatch = createEventDispatcher();

  function filterLeftPanel() {
      dispatch('message', {
          text: 'filterLeftPanelBtn'
      });
  }

  function filterCategory() {
      dispatch('message', {
          text: 'filterCategoryBtn'
      });
  }

	
</script> 

<div class="leftpanel">
	<nav class="nav">
	  <div class="filter">People</div>
	  <div class="filter">Species</div>
	  <div class="filter">Planets</div>
	  <div class="filter">Films</div>
	  <div class="filter">Vehicles</div>
	  <div class="filter">Starships</div>
	</nav>
</div>

<style lang="less">  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
  }

  /* leftpanel open */
  .leftpanel {
    margin: 10px;
    border-radius: 4px;
    padding: 6px 14px;
    transition: all 0.5s ease;
    border-color: black;
    border :solid;
    padding: 4px;
    z-index: 99;
    background-color: #326B8D;
  }

  /* leftpanel closed */
  .nav {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;

    > .filter {
    font-size: 20px;
    margin-top: 10px;
    border-radius: 4px;
    padding-left: 10px;

      &:hover {
        animation: clignote 2s linear infinite;
        background-color:#ADD8E6;
      }
      &:active {
        background-color: #2196F3;
        color: white;
      }
    }
  }
  
  /* if it's a tablet */
  /* responsive : under 600px, the leftpanex is closed */
  @media screen and (min-width: 600px) and (max-width:fullscreen){
    .leftpanel{
      position: fixed;
      left: 0;
      top: 70px;
      height: auto;
      width: 200px;
      margin: 10px;
      border-radius: 4px;
      padding: 6px 14px;
      transition: all 0.5s ease;
      border-color: black;
      border :solid;
    }
  }
  /* if it's a mobile phone*/
  @media screen and (max-width: 600px){
    .leftpanel{
      position: fixed;
      left: 0;
      top: 70px;
      height: 50px;
      padding: 20px;
      border-radius: 4px;
      margin: 10px;
      transition: all 0.5s ease;
      border-color: black;
      border :solid;
    }
  }
</style>