<script>
    import axios from "axios"
    import { createEventDispatcher } from 'svelte';
    import { fly } from 'svelte/transition';
    import fetcher from '../fetcher.js'

    const dispatch = createEventDispatcher();

    let links = {}

    export let data = {}
    let category = data.url.split("/").reverse()[2]
    function toggleZoom() {
        dispatch('toggle');
    }

    let url = ""
    let Data = {results: []}
    let getData = async () => {
        try {
            let response = await axios.get(url)
            Data = response.data
        } catch (e) {
            console.error(e)
        }
    };

    function removeUnderscore(str) {
        return str.replaceAll('_', ' ')
    }

    function checkIfLink(val) {
        if (typeof val === "string") {
            return val.substring(0, 8) === "https://"
        } else if (typeof val === "object") {
            return true
        }
        return false
    }

    function displayLink(key, val) {
        if (typeof val === "string") {
            (async () => {
                let promise = await fetcher(val)
                
                if (val.split("/").reverse()[2] === "films") {
                    links[key] = promise.title
                } else {
                    links[key] = promise.name
                }
                console.log(links)
            })()

        } else {
            for (const urlVal of val) {
                (async () => {
                    let promise = await fetcher(urlVal)

                    if (urlVal.split("/").reverse()[2] === "films") {
                        links[key] += promise.title
                    } else {
                        links[key] += promise.name
                    }
                    console.log(links)
                })()
            }
        }
    }
</script>

<head>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
</head>

<div class="zoomCard" transition:fly="{{ y: 100, duration: 2000 }}">
    <i on:click={toggleZoom} class='bx bx-x exit-cross'></i>

    <div class="contentZoomCard">
        {#each Object.entries(data) as [key, val]} <!-- Iterate over every attributes and their values -->
            {#if key === "name" || key === "title"} 
                <h1 class="title">{val}</h1>
            {:else if key !== "created" && key !== "edited" && key !== "url"} <!-- created, edited and url values are not displayed -->
                <div class="characteristic">
                    <h3 class="key">{@html removeUnderscore(key)}</h3>
                    {#if !val.length} <!-- If no data is found, display no data message -->
                        <p class="noData">No {key}</p>
                    {:else if checkIfLink(val)} <!-- If value is an API link, display corresponding name or title -->
                        <p style="display:none">{displayLink(key, val)}</p>
                        {@html links[key]}
                    {:else}
                        <p class="val">{val}</p>
                    {/if}
                </div>
            {/if}
        {/each}
    </div>
</div>


<style>

    .zoomCard {
        width: 600px;
        height: 750px;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        background-color: cadetblue;
        border-radius: 8px;
        overflow: auto;

        display: flex;
        flex-direction: column;
    }

    .exit-cross {
        width: 40px;
        height: 40px;
        position: absolute;
        font-size: 48px;
        cursor: pointer;
        z-index: 15;
    }
    .exit-cross:hover {
        color: rgb(44, 29, 29);
    }

    .key, .val {
        text-transform: capitalize;
        margin: 0;
    }

    .characteristic {
        width: 40%;
        margin: 3%;
    }

    .contentZoomCard {
        height: 100%;
        width: 100%;
        bottom: 0;
        padding-top: 15%;
        height: 85%;

        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .title {
        position: absolute;
        top: 0;
        width: 100%;
    }

    p.noData {
        color: rgb(51, 46, 46);
        font-style: italic;
        margin: 0;
    }

</style>