* {
    margin:0;
    padding:0;
}
  
body, html {
    background-color:#16272c;
    height:100%;
    width: 100%;
    margin: 0;
    padding: 0;
    width: inherit; 
    height: inherit;
}

.TitleAndSubtitle {
    text-align: center;
    font-size: larger;
}

.Title {
    position: relative;
    font-family: Impact, Verdana, Helvetica, sans-serif;    
    text-decoration: underline;
    margin-top: 50px;
}

.Subtitle {
    position: relative; 
    font: 17px/22px Verdana, Helvetica, sans-serif;
    font-style: italic;
    margin-top: 50px;
}

.Menu {
	font: 900 14px/22px Verdana, Helvetica, sans-serif;
    font-size: larger;
	text-align: center;
    list-style: none;
	text-decoration: none;
    float:none;   
    cursor: pointer;
}

nav ul {
    list-style-type: none;
    background-color:#0b3f3f;
}

li {
	margin: 0 30px;
    display:inline-block;
}

a {
    color:white;
    padding: 20px;
    text-decoration:none;
    display: block;
	font: 900 14px/22px Verdana, Helvetica, sans-serif;
    font-size: larger;
	text-align: center;
}

a:hover {
    animation: clignote 1.5s linear infinite;
    background-color:#ADD8E6;
}

@keyframes clignote {  
    80% { opacity: 0; }
}

div#YnovLogo {
    position: absolute;
    left:0;
    padding: 20px;
    font-size: larger;
    list-style: none;
	text-decoration: none;
    float:none;
}

footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:50px;
    padding-top:50px;
    font-family: Verdana, Helvetica, sans-serif;
    text-align: center;
}

.TextFooter {
    border: 1px solid black;
    padding: 5px;
}